@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --animate-duration: 0.5s;
    --animate-delay: 0.5s;
    --animate-repeat: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes rotateIn {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-transform-origin: center;
    transform-origin: center;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

body {
    padding-top: 76px;
}

h1 {
    line-height: inherit;
    letter-spacing: inherit;
}

p a {
    @apply underline;
}

a:hover {
    @apply text-brand-lime;
}

svg {
    @apply max-w-full max-h-full;
}

.container {
    @apply max-w-screen-xl;
}

.feat-b-item {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='524.48' height='109.088' viewBox='0 0 524.48 109.088'%3E%3Cpath id='Path_67' data-name='Path 67' d='M247,2165.6H672.236L771,2057.6' transform='translate(-247 -2057.166)' fill='none' stroke='%23fff' stroke-width='1.3'/%3E%3C/svg%3E%0A");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.feature-item {
    border-color: #a6afbc;
    @apply md:border-b;
}

.feature-item:nth-child(2) {
    @apply md:border-l md:border-r;
}

.title-has-highlight h3 strong {
    font-size: 100px;
    letter-spacing: -4px;
    @apply text-brand-lime font-light;
}
.title-has-highlight h4 strong {
    @apply text-brand-lime font-normal;
}

.content p,
.content h1,
.content h2,
.content h3 {
    font-size: inherit;
}

.content p:not(:last-child) {
    @apply mb-4;
}

@media (max-width: 640px) {
    .title-has-highlight h3 strong {
        font-size: 60px;
    }
}

.slider-horizontal .slider-handle {
    right: calc(var(--slider-handle-width, 16px) / 2 * -1) !important;
}

:root {
    --slider-height: 36px;
    --slider-handle-width: 46px;
    --slider-handle-height: 46px;
    --slider-bg: #323b44;
    --slider-connect-bg: #ccf74f;
}

input:checked[type="checkbox"] {
    background-size: 9px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.004' height='7.75' viewBox='0 0 10.004 7.75'%3E%3Cpath id='Path_1171' data-name='Path 1171' d='M661.825,99.464l-6.159,6.159-2.784-2.784' transform='translate(-652.352 -98.934)' fill='none' stroke='%23142331' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

.vue-typer .custom.char.selected {
    @apply bg-brand-lime/10;
}
